<section id="sub-hero">
    <div class="container">
        <div class="row center-xs middle-xs">
<!--            <div class="col-xs-12 col-md-12 no-container-mobile">-->
<!--                <img src="./static/images/new/home/mock-pessoas.png" alt="MarcaFut Store" class="img-responsive-width">-->
<!--            </div>-->

            <div class="col-xs-12">
                <div class="row center-md middle-md info-grid">
                    <div class="col-xs-12 col-md-4 texts">
                        <h3 class="green2">
                            MarcaFut.<br />
                            Clicou Marcou.
                        </h3>

                        <p align="justify">
                            Com o Marcafut agendar seu horário em Centros Esportivos com a galera ficou muito mais fácil. 
                            você visualiza de forma muito simples a disponibilidade de qualquer 
                            Centro Esportivo cadastrado, e com alguns cliques você agenda seu horário. 
                            Depois é só se divertir com a galera. Chega de perder tempo para marcar seu fut! 
                        </p>
                    </div>

                    <div class="col-xs-12 col-md-5 col-md-offset-2 first-xs last-sm">
                        <img src="./static/images/new/home/novas/sub-hero.png" alt="MarcaFut. É mais que dinheiro." class="img-responsive-width mock-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- <script>
    window.onload = function (event) {
        document.getElementById('youtube-video-wrapper').innerHTML = '<iframe width="100%"\n' +
            '                            height="auto"\n' +
            '                            src="https://www.youtube.com/embed/gIl4AUS6ucA"\n' +
            '                            frameborder="0"\n' +
            '                            allowfullscreen\n' +
            '                            id="youtube-iframe"></iframe>';
    };
</script> -->
<section id="feature1">
    <div class="container">
        <div class="row middle-md center-md middle-md">
            <div class="col-xs-12 col-md-4">
                <h3 class="green2">
                    Saiba tudo o que o MarcaFut pode fazer por você.
                </h3>
            </div>

            <div class="col-xs-12 col-md-4 col-md-offset-1">
                <img src="./static/images/new/home/novas/features-mobile.png"
                     alt="Saiba tudo o que o MarcaFut pode fazer por você."
                     class="img-responsive-width hidden-xs">

                <img src="./static/images/new/home/novas/features-mobile.png"
                     alt="Saiba tudo o que o MarcaFut pode fazer por você."
                     class="img-responsive-width hidden-sm hidden-md hidden-lg">
            </div>
        </div>
    </div>
</section>
<section id="feature2" class="feature">
    <div class="container">
        <div class="row center-xs middle-xs">
            <div class="col-xs-12 col-md-3 image-wrapper">
                <div class="image-wrapper">
                    <img src="./static/images/new/home/novas/feature-p2p.png"
                         alt="Pagar sua parte do churrasco ficou mais fácil."
                         class="img-responsive-width">

                    <div class="square hidden-xs">
                        <div class="internal-square"></div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-5 col-md-offset-2 texts">
                <h2 class="green2">Escolher um Centro Esportivo é muito simples.</h2>

                <p align="justify">
                    Com o MarcaFut você escolhe seu Centro Esportivo como se estivesse escolhendo um filme para assistir!
                </p>
            </div>
        </div>
    </div>
</section>
<section id="feature3" class="feature">
    <div class="container">
        <div class="row center-xs middle-xs">
            <div class="col-xs-12 col-md-5 texts">
                 <h2 class="green2">
                    Precisa marcar um jogo?<br />é só clicar.
                </h2>

                <p align="justify">
                    Com o MarcaFut você visualiza a disponibilidade de um Centro Esportivo cadastrado e com dois cliques você agenda seu horário. É muito 
                    simples de entender, vermelho o horário foi marcado por você, amarelo o horário está indisponível, 
                    pois foi marcado por outra pessoa e verde significa que o horário está disponível, é só clicar e confirmar.
                </p>
            </div>

            <div class="col-xs-12 col-md-3 col-md-offset-2 image-wrapper">
                <div class="image-wrapper">
                    <img src="./static/images/new/home/novas/agendamento.jpg"
                         alt="Precisa parcelar um boleto? Chega mais."
                         class="img-responsive-width">

                    <div class="square on-left hidden-xs">
                        <div class="internal-square"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="feature4" class="feature">
    <div class="container">
        <div class="row center-xs middle-xs">
            <div class="col-xs-12 col-md-5 texts">
                 <h2 class="green2">
                    Precisa cancelar um horário?<br />é muito simples só respeite a condição 24h.
                </h2>

                <p align="justify">
                    Com o MarcaFut você cancela seu horário apenas clicando no horário previamente agendado por você. 
                    Porém deve ser respeitada a condição 24h, você só consegue cancelar pelo Marcafut com antecedência 
                    mínima de 24h do horário desejado, caso contrário somente com o administrador do Centro Esportivo. 
                    Se você agendou para um período inferior a 24h, você tem 20 minutos para cancelar, caso contrário 
                    somente com o administrador do Centro Esportivo.
                </p>
            </div>

            <div class="col-xs-12 col-md-3 col-md-offset-2 image-wrapper">
                <div class="image-wrapper">
                    <img src="./static/images/new/home/novas/cancelamento.png"
                         alt="Precisa parcelar um boleto? Chega mais."
                         class="img-responsive-width">

                    <div class="square on-left hidden-xs">
                        <div class="internal-square"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="feature5" class="feature">
    <div class="container">
        <div class="row center-xs middle-xs">
            <div class="col-xs-12 col-md-3 image-wrapper">
                <div class="image-wrapper">
                    <img src="./static/images/new/home/novas/feature-store.png"
                         alt="Faça recarga de celular, transporte e muito mais."
                         class="img-responsive-width">

                    <div class="square hidden-xs">
                        <div class="internal-square"></div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-5 col-md-offset-2 texts">
                <h2 class="green2">Faça a gestão de seu Centro Esportivo de qualquer lugar do mundo.</h2>

                <p align="justify">
                    A gente pensa em tudo para facilitar a sua vida, por isso, dentro do nosso app você que 
                    compartilhou seu Centro Esportivo conta com uma ferramenta de gestão que facilita muito a gestão 
                    do seu negócio. Com indicadores dinâmicos você se informa de tudo que está acontecendo em seu Centro Esportivo.
                    
                </p>
            </div>
        </div>
    </div>
</section>
<section id="feature6" class="feature">
    <div class="container">
        <div class="row center-xs middle-xs">
            <div class="col-xs-12 col-md-5 texts">
                <h2 class="green2">
                    Deixe a agenda em casa.
                </h2>

                <p align="justify">
                    Com o MarcaFut você pode acompanhar os agendamentos do seu Centro Esportivo na palma
                    da sua mão. Com um painel muito fácil de visualizar o agendamento você economiza seu tempo.
                </p>
            </div>

            <div class="col-xs-12 col-md-3 col-md-offset-2 image-wrapper">
                <div class="image-wrapper">
                    <img src="./static/images/new/home/novas/agenda.png"
                         alt="Deixe a carteira em casa."
                         class="img-responsive-width">

                    <div class="square on-left hidden-xs">
                        <div class="internal-square"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="features" class="feature">
    <div class="container">
        <div class="row center-xs middle-xs">
            <div class="col-xs-12 col-md-3 hidden-xs">
                <img src="./static/images/new/home/novas/feature-wallet.png"
                     alt="Quer guardar dinheiro? Aqui ele rende mais que a poupança."
                     class="img-responsive-width">
            </div>

            <div class="col-xs-12 col-md-3 image-wrapper">
                <div class="image-wrapper">
                    <img src="./static/images/new/home/novas/feature-savings.png"
                         alt="Quer guardar dinheiro? Aqui ele rende mais que a poupança."
                         class="img-responsive-width">

                    <div class="square hidden-xs">
                        <div class="internal-square"></div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4 col-md-offset-2 texts">
                 <h2 class="green2">
                    E como disponibilizar agenda?<br />
                    A Ferramenta de Gestão para o Centro Esportivo é completa.
                </h2>

                <p align="justify">
                    E para você Centro Esportivo o Marcafut tem um modo CE (centro esportivo) 
                    para você visualizar de forma muito rápida os agendamentos realizados, 
                    faturamento, clientes top 10 e muitas outras funcionalidades que facilitam 
                    muito a sua vida na gestão de seu negócio, chega de perder tempo controlando 
                    planilhas de horários.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="download">
    <div class="container">
        <div class="row center-xs middle-xs">
            <div class="col-xs-12 text-center">
                <img src="./static/images/marcafut/marcafut.png"
                     alt="MarcaFut - App de Pagamentos"
                     class="icon">

                <h1>Comece a marcar seu jogo com MarcaFut agora.</h1>

                <a class="button hidden-xs download-button" href="#">BAIXE E APROVEITE</a>
            </div>
        </div>
</section>

<!-- <script>
    Array.from(document.getElementsByClassName('download-button')).forEach(function (element) {
        element.addEventListener('click', function () {
            gtag_report_download_conversion();
            trackEvent('Clicou no CTA de Download', null, getScrollPercentage(false));
            window.location.href = 'https://marcafut.onelink.me/R25q/df2d0c2e';
        });
    });
</script> -->
<!-- <script>
    gtag('event', 'conversion', {'send_to': 'AW-855209381/CJFnCLrP_a4BEKXr5ZcD'});

    function trackEvent(action, label, value) {
        window.ga('send', {
            hitType: 'event',
            eventCategory: 'Página Inicial',
            eventAction: action,
            eventLabel: label,
            eventValue: value,
            nonInteraction: true,
        });
    }

    function getScrollPercentage(rounded = true) {
        var h = document.documentElement,
            b = document.body,
            st = 'scrollTop',
            sh = 'scrollHeight';

        var percent = parseInt((h[st] || b[st]) / ((h[sh] || b[sh]) - h.clientHeight) * 100);
        if (rounded) {
            percent = (Math.round(percent / 10)) * 10;
        }

        return percent;
    }

    // Tracking Scroll Percentage
    var scrollReported = [];
    document.addEventListener('scroll', function () {
        var percent = getScrollPercentage(true);

        if (scrollReported.indexOf(percent) === -1) {
            scrollReported.push(percent);
            trackEvent('Scrollou a página', null, percent);
        }
    });
</script> -->