<section id="sub-hero">
    <div class="container">
        <div class="row center-xs middle-xs">
<!--            <div class="col-xs-12 col-md-12 no-container-mobile">-->
<!--                <img src="./static/images/new/home/mock-pessoas.png" alt="MarcaFut Store" class="img-responsive-width">-->
<!--            </div>-->

            <div class="col-xs-12">
                <div class="row center-md middle-md info-grid">
                    <div class="col-xs-12 col-md-4 texts">
                        <h3 class="green2">
                            MarcaFut.<br />
                            É mais que dinheiro.
                        </h3>

                        <p>
                            Com o MarcaFut todos os seus pagamentos ficam muito mais simples e rápidos através de um único app.
                            Dá para enviar e receber dinheiro, pagar boletos, estabelecimentos, comprar crédito para o celular,
                            para games online e muito mais. Tudo isso direto do celular.
                        </p>
                    </div>

                    <div class="col-xs-12 col-md-5 col-md-offset-2 first-xs last-sm">
                        <img src="./static/images/new/home/novas/sub-hero.png" alt="MarcaFut. É mais que dinheiro." class="img-responsive-width mock-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- <script>
    window.onload = function (event) {
        document.getElementById('youtube-video-wrapper').innerHTML = '<iframe width="100%"\n' +
            '                            height="auto"\n' +
            '                            src="https://www.youtube.com/embed/gIl4AUS6ucA"\n' +
            '                            frameborder="0"\n' +
            '                            allowfullscreen\n' +
            '                            id="youtube-iframe"></iframe>';
    };
</script> -->
<section id="feature1">
    <div class="container">
        <div class="row middle-md center-md middle-md">
            <div class="col-xs-12 col-md-4">
                <h3 class="green2">
                    Saiba tudo o que o MarcaFut pode fazer por você.
                </h3>
            </div>

            <div class="col-xs-12 col-md-4 col-md-offset-1">
                <img src="./static/images/new/home/novas/features.png"
                     alt="Saiba tudo o que o MarcaFut pode fazer por você."
                     class="img-responsive-width hidden-xs">

                <img src="./static/images/new/home/novas/features-mobile.png"
                     alt="Saiba tudo o que o MarcaFut pode fazer por você."
                     class="img-responsive-width hidden-sm hidden-md hidden-lg">
            </div>
        </div>
    </div>
</section>
<section id="feature2" class="feature">
    <div class="container">
        <div class="row center-xs middle-xs">
            <div class="col-xs-12 col-md-3 image-wrapper">
                <div class="image-wrapper">
                    <img src="./static/images/new/home/novas/feature-p2p.png"
                         alt="Pagar sua parte do churrasco ficou mais fácil."
                         class="img-responsive-width">

                    <div class="square hidden-xs">
                        <div class="internal-square"></div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-5 col-md-offset-2 texts">
                <h2 class="green2">Pagar sua parte do churrasco ficou mais fácil.</h2>

                <p>
                    Com o MarcaFut você recebe e paga os seus amigos sem pagar nenhuma taxa. Gostou? Então brilha!
                </p>
            </div>
        </div>
    </div>
</section>
<section id="feature3" class="feature">
    <div class="container">
        <div class="row center-xs middle-xs">
            <div class="col-xs-12 col-md-5 texts">
                <h2 class="green2">
                    Precisa parcelar um boleto?<br />Chega mais.
                </h2>

                <p>
                    Com o MarcaFut você paga suas contas e boletos em um só app e ainda pode parcelar em até 12x no cartão de crédito.
                </p>
            </div>

            <div class="col-xs-12 col-md-3 col-md-offset-2 image-wrapper">
                <div class="image-wrapper">
                    <img src="./static/images/new/home/novas/feature-boleto.png"
                         alt="Precisa parcelar um boleto? Chega mais."
                         class="img-responsive-width">

                    <div class="square on-left hidden-xs">
                        <div class="internal-square"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="feature4" class="feature">
    <div class="container">
        <div class="row center-xs middle-xs">
            <div class="col-xs-12 col-md-3 image-wrapper">
                <div class="image-wrapper">
                    <img src="./static/images/new/home/novas/feature-store.png"
                         alt="Faça recarga de celular, transporte e muito mais."
                         class="img-responsive-width">

                    <div class="square hidden-xs">
                        <div class="internal-square"></div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-5 col-md-offset-2 texts">
                <h2 class="green2">Faça recarga de celular, transporte e muito mais.</h2>

                <p>
                    A gente pensa em tudo para facilitar a sua vida, por isso, dentro do nosso app você encontra a
                    MarcaFut Store, onde pode fazer recarga de celular, de transporte, de jogos e muito mais.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="feature5" class="feature">
    <div class="container">
        <div class="row center-xs middle-xs">
            <div class="col-xs-12 col-md-5 texts">
                <h2 class="green2">
                    Deixe a carteira em casa.
                </h2>

                <p>
                    Com o MarcaFut você pode pagar a conta em mais de um milhão de estabelecimentos com as maquininhas Cielo.
                    Escaneie o QR Code da maquininha com seu MarcaFut e pronto, tá pago.
                </p>
            </div>

            <div class="col-xs-12 col-md-3 col-md-offset-2 image-wrapper">
                <div class="image-wrapper">
                    <img src="./static/images/new/home/novas/feature-p2p.png"
                         alt="Deixe a carteira em casa."
                         class="img-responsive-width">

                    <div class="square on-left hidden-xs">
                        <div class="internal-square"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="features" class="feature">
    <div class="container">
        <div class="row center-xs middle-xs">
            <div class="col-xs-12 col-md-3 hidden-xs">
                <img src="./static/images/new/home/novas/feature-wallet.png"
                     alt="Quer guardar dinheiro? Aqui ele rende mais que a poupança."
                     class="img-responsive-width">
            </div>

            <div class="col-xs-12 col-md-3 image-wrapper">
                <div class="image-wrapper">
                    <img src="./static/images/new/home/novas/feature-savings.png"
                         alt="Quer guardar dinheiro? Aqui ele rende mais que a poupança."
                         class="img-responsive-width">

                    <div class="square hidden-xs">
                        <div class="internal-square"></div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4 col-md-offset-2 texts">
                <h2 class="green2">
                    Quer guardar dinheiro?<br />
                    Aqui ele rende mais que a poupança.
                </h2>

                <p>
                    Você também pode usar o MarcaFut para guardar o seu dinheiro.
                    Aqui seu saldo rende automaticamente à 100% do CDI, vale mais que deixar sua grana na poupança.
                    Não tem segredo. Tá no saldo? Tá rendendo.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="download">
    <div class="container">
        <div class="row center-xs middle-xs">
            <div class="col-xs-12 text-center">
                <img src="./static/images/marcafut/marcafut.png"
                     alt="MarcaFut - App de Pagamentos"
                     class="icon">

                <h1>Comece a pagar tudo com MarcaFut agora.</h1>

                <a class="button hidden-xs download-button" href="#">BAIXE E APROVEITE</a>
            </div>
        </div>
</section>

<!-- <script>
    Array.from(document.getElementsByClassName('download-button')).forEach(function (element) {
        element.addEventListener('click', function () {
            gtag_report_download_conversion();
            trackEvent('Clicou no CTA de Download', null, getScrollPercentage(false));
            window.location.href = 'https://marcafut.onelink.me/R25q/df2d0c2e';
        });
    });
</script> -->
<!-- <script>
    gtag('event', 'conversion', {'send_to': 'AW-855209381/CJFnCLrP_a4BEKXr5ZcD'});

    function trackEvent(action, label, value) {
        window.ga('send', {
            hitType: 'event',
            eventCategory: 'Página Inicial',
            eventAction: action,
            eventLabel: label,
            eventValue: value,
            nonInteraction: true,
        });
    }

    function getScrollPercentage(rounded = true) {
        var h = document.documentElement,
            b = document.body,
            st = 'scrollTop',
            sh = 'scrollHeight';

        var percent = parseInt((h[st] || b[st]) / ((h[sh] || b[sh]) - h.clientHeight) * 100);
        if (rounded) {
            percent = (Math.round(percent / 10)) * 10;
        }

        return percent;
    }

    // Tracking Scroll Percentage
    var scrollReported = [];
    document.addEventListener('scroll', function () {
        var percent = getScrollPercentage(true);

        if (scrollReported.indexOf(percent) === -1) {
            scrollReported.push(percent);
            trackEvent('Scrollou a página', null, percent);
        }
    });
</script> -->