
<style type="text/css">
    @font-face {
      font-family: 'ppay-web';
      src: local("x"), url("./static/styles/webfont/ppaythin.woff2") format("woff2"), url("./static/styles/webfont/ppaythin.woff") format("woff"), url("./static/styles/webfont/ppaythin.ttf") format("truetype"), url("./static/styles/webfont/ppaythin.svg#font") format("svg");
      font-weight: 300;
      font-style: normal
    }

    @font-face {
      font-family: 'ppay-web';
      src: local("x"), url("./static/styles/webfont/ppayreg.woff2") format("woff2"), url("./static/styles/webfont/ppayreg.woff") format("woff"), url("./static/styles/webfont/ppayreg.ttf") format("truetype"), url("./static/styles/webfont/ppayreg.svg#font") format("svg");
      font-weight: 400;
      font-style: normal
    }

    @font-face {
      font-family: 'ppay-web';
      src: local("x"), url("./static/styles/webfont/ppaybld.woff2") format("woff2"), url("./static/styles/webfont/ppaybld.woff") format("woff"), url("./static/styles/webfont/ppaybld.ttf") format("truetype"), url("./static/styles/webfont/ppaybld.svg#font") format("svg");
      font-weight: 700;
      font-style: normal
    }

    @font-face {
      font-family: 'ppay-web';
      src: local("x"), url("./static/styles/webfont/ppayxbd.woff2") format("woff2"), url("./static/styles/webfont/ppayxbd.woff") format("woff"), url("./static/styles/webfont/ppayxbd.ttf") format("truetype"), url("./static/styles/webfont/ppayxbd.svg#font") format("svg");
      font-weight: 800;
      font-style: normal
    }

    @font-face {
      font-family: 'ppay-web';
      src: local("x"), url("./static/styles/webfont/ppayblk.woff2") format("woff2"), url("./static/styles/webfont/ppayblk.woff") format("woff"), url("./static/styles/webfont/ppayblk.ttf") format("truetype"), url("./static/styles/webfont/ppayblk.svg#font") format("svg");
      font-weight: 900;
      font-style: normal
    }

    html,
    body {
      margin: 0;
      text-size-adjust: none;
      -moz-text-size-adjust: none;
      -webkit-text-size-adjust: none;
      -webkit-font-smoothing: antialiased
    }

    html {
      font-family: 'ppay-web', sans-serif;
      background-color: #f0f6f8;
      height: 100%
    }

    body {
      max-width: 1920px;
      min-width: 660px;
      margin: 0 auto;
      position: relative;
      background-color: #ffffff
    }

    .locked {
      height: 100%;
      width: 100%;
      overflow: hidden;
      position: fixed
    }

    a,
    button {
      -webkit-tap-highlight-color: transparent
    }

    a img,
    button img {
      border: none
    }

    textarea {
      font-family: 'ppay-web', sans-serif
    }

    h1 {
      font-size: 50px;
      line-height: 1.1;
      font-weight: 900;
      text-transform: uppercase;
      margin: 0 0 26px 0
    }

    h2 {
      font-size: 42px;
      line-height: 1;
      font-weight: 800;
      margin: 0 0 28px 0
    }

    h3 {
      font-size: 24px;
      line-height: 1;
      font-weight: 800;
      margin: 0 0 20px 0
    }

    h4 {
      font-size: 16px;
      line-height: 1;
      font-weight: 800;
      margin: 0 0 26px 0
    }

    p {
      font-size: 18px;
      line-height: 1.5;
      font-weight: 400;
      margin: 0
    }

    strong {
      display: inline-block;
      font-size: 18px;
      line-height: 1.5;
      font-weight: 700;
      margin: 18px 0 0 0
    }

    .in {
      opacity: 1;
      transition: transform .4s ease-in-out, opacity .4s ease-in-out;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0)
    }

    .wf-loading .in {
      opacity: 0;
      -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      transform: translateY(-20px)
    }

    @media (max-width: 680px) {
      h2 {
        font-size: 44px;
        margin: 0 0 36px 0
      }

      h3 {
        font-size: 30px
      }

      h4 {
        font-size: 29px
      }

      p {
        font-size: 29px
      }

      strong {
        font-size: 29px
      }
    }

    .img-responsive {
      height: auto;
      max-width: 100%
    }

    #header {
      position: fixed;
      -webkit-transition: all .25s;
      transition: all .25s;
      z-index: 9999;
      top: 0;
      max-width: 1920px;
      width: 100%;
      height: 80px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      background-color: rgba(255, 255, 255, 0.1)
    }

    #header .wrapper {
      width: 100%;
      position: relative;
      margin: 0 auto
    }

    #header #logo {
      position: relative;
      box-sizing: border-box;
      display: inline-block;
      width: 205px;
      padding: 13px 0 13px 60px;
      z-index: 1000
    }

    #header #logo #svg {
      height: 50px;
      z-index: 1000;
      fill: #ffffff;
      -webkit-transition: all .25s;
      transition: all .25s
    }

    #header #burger {
      display: none;
      width: 30px;
      height: 24px;
      z-index: 1000;
      cursor: pointer;
      position: absolute;
      padding: 45px 60px;
      top: 0;
      right: 0;
      -moz-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
      -o-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
      -webkit-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
      transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
      -webkit-tap-highlight-color: transparent
    }

    #header #burger .patty {
      box-sizing: border-box;
      position: relative;
      width: 30px;
      height: 4px;
      margin: 10px 0;
      background-color: #ffffff;
      -moz-transition: all 0.25s;
      -o-transition: all 0.25s;
      -webkit-transition: all 0.25s;
      transition: all 0.25s
    }

    #header #burger .patty:after,
    #header #burger .patty:before {
      content: '';
      display: block;
      width: 30px;
      height: 4px;
      background-color: #ffffff;
      position: absolute;
      z-index: -1;
      -moz-transition: all 0.25s;
      -o-transition: all 0.25s;
      -webkit-transition: all 0.25s;
      transition: all 0.25s
    }

    #header #burger .patty:before {
      top: -10px
    }

    #header #burger .patty:after {
      top: 10px
    }

    #header #menu {
      float: right;
      padding: 0 60px 0 0
    }

    #header #menu a {
      display: inline-block;
      float: left;
      height: 30px;
      line-height: 30px;
      text-decoration: none;
      color: #ffffff;
      text-align: center;
      margin: 25px 0;
      padding: 0 10px;
      font-weight: 700;
      letter-spacing: .02em
    }

    #header #menu .download {
      padding: 10px 18px;
      margin: 15px 0 15px 18px;
      /* color: #21c25e; */
      background-color: #ffffff;
      border-radius: 4px
    }

    #header.open .patty {
      background: none !important
    }

    #header.open .patty:after {
      top: 0 !important;
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg)
    }

    #header.open .patty:before {
      top: 0 !important;
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg)
    }

    #header.open #logo #svg {
      /* fill: #21c25e */
    }

    #header.open #menu a {
      /* color: #21c25e */
    }

    #header.solid,
    #header.open {
      background-color: rgba(255, 255, 255, 0.98);
      border-bottom: 1px solid #e1e1e1
    }

    #header.solid #logo #svg,
    #header.open #logo #svg {
      /* fill: #21c25e */
    }

    #header.solid #burger .patty,
    #header.open #burger .patty {
      /* background-color: #21c25e */
    }

    #header.solid #burger .patty:after,
    #header.solid #burger .patty:before,
    #header.open #burger .patty:after,
    #header.open #burger .patty:before {
      /* background-color: #21c25e */
    }

    #header.solid #menu a,
    #header.open #menu a {
      color: #3b1a61
    }

    #header.solid #menu .download,
    #header.open #menu .download {
      background-color: #3b1a61;
      color: #ffffff
    }

    #header.solid #menu .download:hover,
    #header.open #menu .download:hover {
      background-color: #4a2674
    }

    .headerCashbackOriginal {
      background-color: rgba(0, 0, 0, 0.2) !important;
      border-bottom: 1px solid rgba(228, 228, 228, 0.3) !important
    }

    .headerCashbackOriginal svg {
      width: 102px !important
    }

    .headerCashbackOriginal .originalClient {
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
      padding: 0 !important
    }

    @media (max-width: 760px) {
      #header {
        height: 120px
      }

      #header #burger {
        display: block
      }

      #header #menu {
        visibility: hidden;
        opacity: 0;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.98);
        padding-top: 180px;
        padding-bottom: 24px;
        z-index: 500
      }

      #header #menu a {
        display: block;
        float: none;
        margin: 0 auto;
        padding: 0 0 60px 0;
        width: 300px;
        font-size: 30px
      }

      #header #menu .download {
        display: block;
        padding: 30px 0;
        margin: 0 auto;
        border-radius: 7px
      }

      #header #logo {
        display: block;
        width: 205px;
        margin: 0 auto;
        padding: 24px 0 0 0
      }

      #header #logo #svg {
        height: 70px
      }

      #header.open #menu {
        visibility: visible;
        opacity: 1
      }

      .headerCashbackOriginal svg {
        width: 205px !important
      }
    }

    #downBody {
      position: relative;
      background-color: #f0f6f8
    }

    #downBody .wrapper {
      width: 80%;
      max-width: 1200px;
      margin: 0 auto;
      position: relative;
      z-index: 100;
      height: 880px
    }

    #downBody .container {
      position: absolute;
      top: 80px;
      width: 100%
    }

    #downBody img {
      display: block;
      width: 213px;
      margin: 0 auto 48px auto
    }

    #downBody h2 {
      display: block;
      text-align: center;
      /* color: #21c25e; */
      margin-bottom: 80px
    }

    #downBody h4 {
      text-align: center;
      color: #484848;
      text-transform: uppercase;
      width: 300px;
      margin: 0 auto 20px auto
    }

    #downBody p {
      color: #484848;
      text-align: center;
      width: 340px;
      margin: 0 auto
    }

    #downBody a {
      display: inline-block;
      box-sizing: border-box;
      width: 130px;
      text-align: center;
      padding: 10px 0;
      border-radius: 28px;
      background-color: #ffffff;
      text-decoration: none;
      margin: 0 10px
    }

    #downBody .bg {
      position: absolute;
      top: 0;
      width: 100%;
      height: 80px;
      /* background-color: #21c25e */
    }

    #downBody .side {
      box-sizing: border-box;
      width: 50%
    }

    #downBody .ppay {
      float: left;
      border-right: 1px solid #e1e1e1
    }

    #downBody .ppay a {
      /* color: #21c25e */
    }

    #downBody .ppay a:hover {
      /* background-color: #21c25e; */
      color: #ffffff
    }

    #downBody .biz {
      float: right
    }

    #downBody .biz a {
      color: #3b1a61
    }

    #downBody .biz a:hover {
      background-color: #3b1a61;
      color: #ffffff
    }

    #downBody .cta {
      padding-top: 24px;
      width: 300px;
      margin: 0 auto
    }

    @media (max-width: 890px) {
      #downBody img {
        width: 320px
      }

      #downBody p {
        width: 100%;
        margin: 0 auto 10px auto
      }

      #downBody .wrapper {
        height: 1440px
      }

      #downBody .container {
        top: 160px
      }

      #downBody .side {
        width: 100%
      }

      #downBody .ppay {
        border-right: none;
        border-bottom: 1px solid #e1e1e1;
        float: none;
        padding-bottom: 60px;
        margin-bottom: 60px
      }

      #downBody .biz {
        border: none;
        float: none
      }
    }

    @media (max-width: 760px) {
      #downBody .bg {
        height: 120px
      }
    }

    @media (max-width: 680px) {
      #downBody img {
        width: 380px
      }

      #downBody h4 {
        width: 100%
      }

      #downBody .wrapper {
        height: 1840px
      }

      #downBody .cta {
        width: 100%
      }

      #downBody .container {
        top: 200px
      }

      #downBody a {
        font-size: 29px;
        width: 46%;
        margin: 0 2%;
        padding: 18px 0;
        border-radius: 36px
      }

      #downBody p {
        margin: 0 auto 18px auto
      }
    }

    @media (min-width: 1800px),
    (-webkit-max-device-pixel-ratio: 1) {
      #downBody .wrapper {
        height: 1000px
      }

      #downBody img {
        width: 426px
      }
    }

    #footer-wrapper .container-fluid,
    #footer-wrapper .container {
      margin-right: auto;
      margin-left: auto
    }

    #footer-wrapper .container-fluid {
      padding-right: 2rem;
      padding-left: 2rem
    }

    #footer-wrapper .row {
      box-sizing: border-box;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -0.5rem;
      margin-left: -0.5rem
    }

    #footer-wrapper .row.reverse {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse
    }

    #footer-wrapper .col.reverse {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse
    }

    #footer-wrapper .col-xs,
    #footer-wrapper .col-xs-1,
    #footer-wrapper .col-xs-2,
    #footer-wrapper .col-xs-3,
    #footer-wrapper .col-xs-4,
    #footer-wrapper .col-xs-5,
    #footer-wrapper .col-xs-6,
    #footer-wrapper .col-xs-7,
    #footer-wrapper .col-xs-8,
    #footer-wrapper .col-xs-9,
    #footer-wrapper .col-xs-10,
    #footer-wrapper .col-xs-11,
    #footer-wrapper .col-xs-12,
    #footer-wrapper .col-xs-offset-0,
    #footer-wrapper .col-xs-offset-1,
    #footer-wrapper .col-xs-offset-2,
    #footer-wrapper .col-xs-offset-3,
    #footer-wrapper .col-xs-offset-4,
    #footer-wrapper .col-xs-offset-5,
    #footer-wrapper .col-xs-offset-6,
    #footer-wrapper .col-xs-offset-7,
    #footer-wrapper .col-xs-offset-8,
    #footer-wrapper .col-xs-offset-9,
    #footer-wrapper .col-xs-offset-10,
    #footer-wrapper .col-xs-offset-11,
    #footer-wrapper .col-xs-offset-12 {
      box-sizing: border-box;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      padding-right: 0.5rem;
      padding-left: 0.5rem
    }

    #footer-wrapper .col-xs {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      max-width: 100%
    }

    #footer-wrapper .col-xs-1 {
      -ms-flex-preferred-size: 8.33333333%;
      flex-basis: 8.33333333%;
      max-width: 8.33333333%
    }

    #footer-wrapper .col-xs-2 {
      -ms-flex-preferred-size: 16.66666667%;
      flex-basis: 16.66666667%;
      max-width: 16.66666667%
    }

    #footer-wrapper .col-xs-3 {
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
      max-width: 25%
    }

    #footer-wrapper .col-xs-4 {
      -ms-flex-preferred-size: 33.33333333%;
      flex-basis: 33.33333333%;
      max-width: 33.33333333%
    }

    #footer-wrapper .col-xs-5 {
      -ms-flex-preferred-size: 41.66666667%;
      flex-basis: 41.66666667%;
      max-width: 41.66666667%
    }

    #footer-wrapper .col-xs-6 {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      max-width: 50%
    }

    #footer-wrapper .col-xs-7 {
      -ms-flex-preferred-size: 58.33333333%;
      flex-basis: 58.33333333%;
      max-width: 58.33333333%
    }

    #footer-wrapper .col-xs-8 {
      -ms-flex-preferred-size: 66.66666667%;
      flex-basis: 66.66666667%;
      max-width: 66.66666667%
    }

    #footer-wrapper .col-xs-9 {
      -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
      max-width: 75%
    }

    #footer-wrapper .col-xs-10 {
      -ms-flex-preferred-size: 83.33333333%;
      flex-basis: 83.33333333%;
      max-width: 83.33333333%
    }

    #footer-wrapper .col-xs-11 {
      -ms-flex-preferred-size: 91.66666667%;
      flex-basis: 91.66666667%;
      max-width: 91.66666667%
    }

    #footer-wrapper .col-xs-12 {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      max-width: 100%
    }

    #footer-wrapper .col-xs-offset-0 {
      margin-left: 0
    }

    #footer-wrapper .col-xs-offset-1 {
      margin-left: 8.33333333%
    }

    #footer-wrapper .col-xs-offset-2 {
      margin-left: 16.66666667%
    }

    #footer-wrapper .col-xs-offset-3 {
      margin-left: 25%
    }

    #footer-wrapper .col-xs-offset-4 {
      margin-left: 33.33333333%
    }

    #footer-wrapper .col-xs-offset-5 {
      margin-left: 41.66666667%
    }

    #footer-wrapper .col-xs-offset-6 {
      margin-left: 50%
    }

    #footer-wrapper .col-xs-offset-7 {
      margin-left: 58.33333333%
    }

    #footer-wrapper .col-xs-offset-8 {
      margin-left: 66.66666667%
    }

    #footer-wrapper .col-xs-offset-9 {
      margin-left: 75%
    }

    #footer-wrapper .col-xs-offset-10 {
      margin-left: 83.33333333%
    }

    #footer-wrapper .col-xs-offset-11 {
      margin-left: 91.66666667%
    }

    #footer-wrapper .start-xs {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      text-align: start
    }

    #footer-wrapper .center-xs {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center
    }

    #footer-wrapper .end-xs {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      text-align: end
    }

    #footer-wrapper .top-xs {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start
    }

    #footer-wrapper .middle-xs {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center
    }

    #footer-wrapper .bottom-xs {
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end
    }

    #footer-wrapper .around-xs {
      -ms-flex-pack: distribute;
      justify-content: space-around
    }

    #footer-wrapper .between-xs {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between
    }

    #footer-wrapper .first-xs {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1
    }

    #footer-wrapper .last-xs {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1
    }

    @media only screen and (min-width: 48em) {
      #footer-wrapper .container {
        width: 49rem
      }

      #footer-wrapper .col-sm,
      #footer-wrapper .col-sm-1,
      #footer-wrapper .col-sm-2,
      #footer-wrapper .col-sm-3,
      #footer-wrapper .col-sm-4,
      #footer-wrapper .col-sm-5,
      #footer-wrapper .col-sm-6,
      #footer-wrapper .col-sm-7,
      #footer-wrapper .col-sm-8,
      #footer-wrapper .col-sm-9,
      #footer-wrapper .col-sm-10,
      #footer-wrapper .col-sm-11,
      #footer-wrapper .col-sm-12,
      #footer-wrapper .col-sm-offset-0,
      #footer-wrapper .col-sm-offset-1,
      #footer-wrapper .col-sm-offset-2,
      #footer-wrapper .col-sm-offset-3,
      #footer-wrapper .col-sm-offset-4,
      #footer-wrapper .col-sm-offset-5,
      #footer-wrapper .col-sm-offset-6,
      #footer-wrapper .col-sm-offset-7,
      #footer-wrapper .col-sm-offset-8,
      #footer-wrapper .col-sm-offset-9,
      #footer-wrapper .col-sm-offset-10,
      #footer-wrapper .col-sm-offset-11,
      #footer-wrapper .col-sm-offset-12 {
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-right: 0.5rem;
        padding-left: 0.5rem
      }

      #footer-wrapper .col-sm {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%
      }

      #footer-wrapper .col-sm-1 {
        -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
        max-width: 8.33333333%
      }

      #footer-wrapper .col-sm-2 {
        -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
        max-width: 16.66666667%
      }

      #footer-wrapper .col-sm-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%
      }

      #footer-wrapper .col-sm-4 {
        -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
        max-width: 33.33333333%
      }

      #footer-wrapper .col-sm-5 {
        -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
        max-width: 41.66666667%
      }

      #footer-wrapper .col-sm-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
      }

      #footer-wrapper .col-sm-7 {
        -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
        max-width: 58.33333333%
      }

      #footer-wrapper .col-sm-8 {
        -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
        max-width: 66.66666667%
      }

      #footer-wrapper .col-sm-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%
      }

      #footer-wrapper .col-sm-10 {
        -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
        max-width: 83.33333333%
      }

      #footer-wrapper .col-sm-11 {
        -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
        max-width: 91.66666667%
      }

      #footer-wrapper .col-sm-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
      }

      #footer-wrapper .col-sm-offset-0 {
        margin-left: 0
      }

      #footer-wrapper .col-sm-offset-1 {
        margin-left: 8.33333333%
      }

      #footer-wrapper .col-sm-offset-2 {
        margin-left: 16.66666667%
      }

      #footer-wrapper .col-sm-offset-3 {
        margin-left: 25%
      }

      #footer-wrapper .col-sm-offset-4 {
        margin-left: 33.33333333%
      }

      #footer-wrapper .col-sm-offset-5 {
        margin-left: 41.66666667%
      }

      #footer-wrapper .col-sm-offset-6 {
        margin-left: 50%
      }

      #footer-wrapper .col-sm-offset-7 {
        margin-left: 58.33333333%
      }

      #footer-wrapper .col-sm-offset-8 {
        margin-left: 66.66666667%
      }

      #footer-wrapper .col-sm-offset-9 {
        margin-left: 75%
      }

      #footer-wrapper .col-sm-offset-10 {
        margin-left: 83.33333333%
      }

      #footer-wrapper .col-sm-offset-11 {
        margin-left: 91.66666667%
      }

      #footer-wrapper .start-sm {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: start
      }

      #footer-wrapper .center-sm {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center
      }

      #footer-wrapper .end-sm {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: end
      }

      #footer-wrapper .top-sm {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
      }

      #footer-wrapper .middle-sm {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
      }

      #footer-wrapper .bottom-sm {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
      }

      #footer-wrapper .around-sm {
        -ms-flex-pack: distribute;
        justify-content: space-around
      }

      #footer-wrapper .between-sm {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
      }

      #footer-wrapper .first-sm {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1
      }

      #footer-wrapper .last-sm {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
      }
    }

    @media only screen and (min-width: 64em) {
      #footer-wrapper .container {
        width: 63rem
      }

      #footer-wrapper .col-md,
      #footer-wrapper .col-md-1,
      #footer-wrapper .col-md-2,
      #footer-wrapper .col-md-3,
      #footer-wrapper .col-md-4,
      #footer-wrapper .col-md-5,
      #footer-wrapper .col-md-6,
      #footer-wrapper .col-md-7,
      #footer-wrapper .col-md-8,
      #footer-wrapper .col-md-9,
      #footer-wrapper .col-md-10,
      #footer-wrapper .col-md-11,
      #footer-wrapper .col-md-12,
      #footer-wrapper .col-md-offset-0,
      #footer-wrapper .col-md-offset-1,
      #footer-wrapper .col-md-offset-2,
      #footer-wrapper .col-md-offset-3,
      #footer-wrapper .col-md-offset-4,
      #footer-wrapper .col-md-offset-5,
      #footer-wrapper .col-md-offset-6,
      #footer-wrapper .col-md-offset-7,
      #footer-wrapper .col-md-offset-8,
      #footer-wrapper .col-md-offset-9,
      #footer-wrapper .col-md-offset-10,
      #footer-wrapper .col-md-offset-11,
      #footer-wrapper .col-md-offset-12 {
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-right: 0.5rem;
        padding-left: 0.5rem
      }

      #footer-wrapper .col-md {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%
      }

      #footer-wrapper .col-md-1 {
        -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
        max-width: 8.33333333%
      }

      #footer-wrapper .col-md-2 {
        -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
        max-width: 16.66666667%
      }

      #footer-wrapper .col-md-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%
      }

      #footer-wrapper .col-md-4 {
        -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
        max-width: 33.33333333%
      }

      #footer-wrapper .col-md-5 {
        -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
        max-width: 41.66666667%
      }

      #footer-wrapper .col-md-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
      }

      #footer-wrapper .col-md-7 {
        -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
        max-width: 58.33333333%
      }

      #footer-wrapper .col-md-8 {
        -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
        max-width: 66.66666667%
      }

      #footer-wrapper .col-md-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%
      }

      #footer-wrapper .col-md-10 {
        -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
        max-width: 83.33333333%
      }

      #footer-wrapper .col-md-11 {
        -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
        max-width: 91.66666667%
      }

      #footer-wrapper .col-md-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
      }

      #footer-wrapper .col-md-offset-0 {
        margin-left: 0
      }

      #footer-wrapper .col-md-offset-1 {
        margin-left: 8.33333333%
      }

      #footer-wrapper .col-md-offset-2 {
        margin-left: 16.66666667%
      }

      #footer-wrapper .col-md-offset-3 {
        margin-left: 25%
      }

      #footer-wrapper .col-md-offset-4 {
        margin-left: 33.33333333%
      }

      #footer-wrapper .col-md-offset-5 {
        margin-left: 41.66666667%
      }

      #footer-wrapper .col-md-offset-6 {
        margin-left: 50%
      }

      #footer-wrapper .col-md-offset-7 {
        margin-left: 58.33333333%
      }

      #footer-wrapper .col-md-offset-8 {
        margin-left: 66.66666667%
      }

      #footer-wrapper .col-md-offset-9 {
        margin-left: 75%
      }

      #footer-wrapper .col-md-offset-10 {
        margin-left: 83.33333333%
      }

      #footer-wrapper .col-md-offset-11 {
        margin-left: 91.66666667%
      }

      #footer-wrapper .start-md {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: start
      }

      #footer-wrapper .center-md {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center
      }

      #footer-wrapper .end-md {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: end
      }

      #footer-wrapper .top-md {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
      }

      #footer-wrapper .middle-md {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
      }

      #footer-wrapper .bottom-md {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
      }

      #footer-wrapper .around-md {
        -ms-flex-pack: distribute;
        justify-content: space-around
      }

      #footer-wrapper .between-md {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
      }

      #footer-wrapper .first-md {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1
      }

      #footer-wrapper .last-md {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
      }
    }

    @media only screen and (min-width: 75em) {
      #footer-wrapper .container {
        width: 76rem
      }

      #footer-wrapper .col-lg,
      #footer-wrapper .col-lg-1,
      #footer-wrapper .col-lg-2,
      #footer-wrapper .col-lg-3,
      #footer-wrapper .col-lg-4,
      #footer-wrapper .col-lg-5,
      #footer-wrapper .col-lg-6,
      #footer-wrapper .col-lg-7,
      #footer-wrapper .col-lg-8,
      #footer-wrapper .col-lg-9,
      #footer-wrapper .col-lg-10,
      #footer-wrapper .col-lg-11,
      #footer-wrapper .col-lg-12,
      #footer-wrapper .col-lg-offset-0,
      #footer-wrapper .col-lg-offset-1,
      #footer-wrapper .col-lg-offset-2,
      #footer-wrapper .col-lg-offset-3,
      #footer-wrapper .col-lg-offset-4,
      #footer-wrapper .col-lg-offset-5,
      #footer-wrapper .col-lg-offset-6,
      #footer-wrapper .col-lg-offset-7,
      #footer-wrapper .col-lg-offset-8,
      #footer-wrapper .col-lg-offset-9,
      #footer-wrapper .col-lg-offset-10,
      #footer-wrapper .col-lg-offset-11,
      #footer-wrapper .col-lg-offset-12 {
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-right: 0.5rem;
        padding-left: 0.5rem
      }

      #footer-wrapper .col-lg {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%
      }

      #footer-wrapper .col-lg-1 {
        -ms-flex-preferred-size: 8.33333333%;
        flex-basis: 8.33333333%;
        max-width: 8.33333333%
      }

      #footer-wrapper .col-lg-2 {
        -ms-flex-preferred-size: 16.66666667%;
        flex-basis: 16.66666667%;
        max-width: 16.66666667%
      }

      #footer-wrapper .col-lg-3 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%
      }

      #footer-wrapper .col-lg-4 {
        -ms-flex-preferred-size: 33.33333333%;
        flex-basis: 33.33333333%;
        max-width: 33.33333333%
      }

      #footer-wrapper .col-lg-5 {
        -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
        max-width: 41.66666667%
      }

      #footer-wrapper .col-lg-6 {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
      }

      #footer-wrapper .col-lg-7 {
        -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
        max-width: 58.33333333%
      }

      #footer-wrapper .col-lg-8 {
        -ms-flex-preferred-size: 66.66666667%;
        flex-basis: 66.66666667%;
        max-width: 66.66666667%
      }

      #footer-wrapper .col-lg-9 {
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
        max-width: 75%
      }

      #footer-wrapper .col-lg-10 {
        -ms-flex-preferred-size: 83.33333333%;
        flex-basis: 83.33333333%;
        max-width: 83.33333333%
      }

      #footer-wrapper .col-lg-11 {
        -ms-flex-preferred-size: 91.66666667%;
        flex-basis: 91.66666667%;
        max-width: 91.66666667%
      }

      #footer-wrapper .col-lg-12 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%
      }

      #footer-wrapper .col-lg-offset-0 {
        margin-left: 0
      }

      #footer-wrapper .col-lg-offset-1 {
        margin-left: 8.33333333%
      }

      #footer-wrapper .col-lg-offset-2 {
        margin-left: 16.66666667%
      }

      #footer-wrapper .col-lg-offset-3 {
        margin-left: 25%
      }

      #footer-wrapper .col-lg-offset-4 {
        margin-left: 33.33333333%
      }

      #footer-wrapper .col-lg-offset-5 {
        margin-left: 41.66666667%
      }

      #footer-wrapper .col-lg-offset-6 {
        margin-left: 50%
      }

      #footer-wrapper .col-lg-offset-7 {
        margin-left: 58.33333333%
      }

      #footer-wrapper .col-lg-offset-8 {
        margin-left: 66.66666667%
      }

      #footer-wrapper .col-lg-offset-9 {
        margin-left: 75%
      }

      #footer-wrapper .col-lg-offset-10 {
        margin-left: 83.33333333%
      }

      #footer-wrapper .col-lg-offset-11 {
        margin-left: 91.66666667%
      }

      #footer-wrapper .start-lg {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: start
      }

      #footer-wrapper .center-lg {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center
      }

      #footer-wrapper .end-lg {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: end
      }

      #footer-wrapper .top-lg {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
      }

      #footer-wrapper .middle-lg {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
      }

      #footer-wrapper .bottom-lg {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
      }

      #footer-wrapper .around-lg {
        -ms-flex-pack: distribute;
        justify-content: space-around
      }

      #footer-wrapper .between-lg {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
      }

      #footer-wrapper .first-lg {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1
      }

      #footer-wrapper .last-lg {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
      }
    }

    @font-face {
      #footer-wrapper {
        font-family: 'ppay-web';
        src: local("x"), url("./static/styles/webfont/ppaythin.woff2") format("woff2"), url("./static/styles/webfont/ppaythin.woff") format("woff"), url("./static/styles/webfont/ppaythin.ttf") format("truetype"), url("./static/styles/webfont/ppaythin.svg#font") format("svg");
        font-weight: 300;
        font-style: normal
      }
    }

    @font-face {
      #footer-wrapper {
        font-family: 'ppay-web';
        src: local("x"), url("./static/styles/webfont/ppayreg.woff2") format("woff2"), url("./static/styles/webfont/ppayreg.woff") format("woff"), url("./static/styles/webfont/ppayreg.ttf") format("truetype"), url("./static/styles/webfont/ppayreg.svg#font") format("svg");
        font-weight: 400;
        font-style: normal
      }
    }

    @font-face {
      #footer-wrapper {
        font-family: 'ppay-web';
        src: local("x"), url("./static/styles/webfont/ppaybld.woff2") format("woff2"), url("./static/styles/webfont/ppaybld.woff") format("woff"), url("./static/styles/webfont/ppaybld.ttf") format("truetype"), url("./static/styles/webfont/ppaybld.svg#font") format("svg");
        font-weight: 700;
        font-style: normal
      }
    }

    @font-face {
      #footer-wrapper {
        font-family: 'ppay-web';
        src: local("x"), url("./static/styles/webfont/ppayxbd.woff2") format("woff2"), url("./static/styles/webfont/ppayxbd.woff") format("woff"), url("./static/styles/webfont/ppayxbd.ttf") format("truetype"), url("./static/styles/webfont/ppayxbd.svg#font") format("svg");
        font-weight: 800;
        font-style: normal
      }
    }

    @font-face {
      #footer-wrapper {
        font-family: 'ppay-web';
        src: local("x"), url("./static/styles/webfont/ppayblk.woff2") format("woff2"), url("./static/styles/webfont/ppayblk.woff") format("woff"), url("./static/styles/webfont/ppayblk.ttf") format("truetype"), url("./static/styles/webfont/ppayblk.svg#font") format("svg");
        font-weight: 900;
        font-style: normal
      }
    }

    #footer-wrapper h1,
    #footer-wrapper h2,
    #footer-wrapper h3,
    #footer-wrapper h4,
    #footer-wrapper h5,
    #footer-wrapper h6,
    #footer-wrapper p {
      margin: 0
    }

    #footer-wrapper h1 {
      font-size: 36px;
      font-weight: 800;
      line-height: 40px
    }

    @media only screen and (min-width: 768px) {
      #footer-wrapper h1 {
        font-size: 44px;
        line-height: 40px
      }
    }

    #footer-wrapper h2 {
      font-size: 28px;
      font-weight: 800;
      line-height: 34px
    }

    #footer-wrapper h3 {
      font-size: 24px;
      font-weight: 700;
      line-height: 30px
    }

    @media only screen and (min-width: 768px) {
      #footer-wrapper h3 {
        font-size: 34px;
        line-height: 40px
      }
    }

    @media only screen and (min-width: 768px) {
      #footer-wrapper h4 {
        font-size: 24px;
        line-height: 32px
      }
    }

    #footer-wrapper p {
      font-size: 19px;
      font-weight: 400;
      line-height: 28px
    }

    #footer-wrapper .green2 {
      color: #11c76f
    }

    #footer-wrapper a.button {
      background: #0fc76e;
      color: #fff;
      display: inline-block;
      font-weight: bold;
      padding: 0 40px;
      text-decoration: none;
      transition: all .2s ease-in-out;
      border-radius: 60px;
      height: 60px;
      font-size: 24px;
      line-height: 60px;
      padding: 0 40px
    }

    #footer-wrapper a.button:hover {
      background: #0b9854
    }

    #footer-wrapper * {
      box-sizing: border-box
    }

    #footer-wrapper html,
    #footer-wrapper body {
      margin: 0;
      text-size-adjust: none;
      -moz-text-size-adjust: none;
      -webkit-text-size-adjust: none;
      -webkit-font-smoothing: antialiased
    }

    #footer-wrapper html {
      font-family: 'ppay-web', sans-serif;
      background-color: #f0f6f8;
      color: #111111;
      height: 100%
    }

    #footer-wrapper body {
      margin: 0 auto;
      position: relative;
      background-color: #ffffff
    }

    #footer-wrapper html,
    #footer-wrapper body {
      overflow-x: hidden;
      width: 100vw
    }

    #footer-wrapper img {
      display: block
    }

    #footer-wrapper .img-responsive,
    #footer-wrapper .img-responsive-height {
      height: 100%;
      width: auto
    }

    #footer-wrapper .img-responsive-width {
      height: auto;
      width: 100%
    }

    @media only screen and (max-width: 768px) {
      #footer-wrapper .container {
        padding-left: 24px;
        padding-right: 24px
      }

      #footer-wrapper .hidden-xs {
        display: none !important
      }
    }

    @media only screen and (min-width: 768px) {
      #footer-wrapper .hidden-md {
        display: none !important
      }
    }

    #footer-wrapper body {
      padding-top: 90px
    }

    @media only screen and (max-width: 768px) {
      #footer-wrapper body {
        padding-top: 60px
      }
    }

    #footer-wrapper body>header,
    #footer-wrapper body>#header {
      position: fixed;
      top: 0;
      left: 0;
      margin: 0;
      background: #ffffff;
      border-bottom: 1px solid #EAEAEA;
      height: 90px;
      transition: all .25s ease-in-out;
      width: 100%;
      z-index: 10001
    }

    #footer-wrapper body>header svg,
    #footer-wrapper body>#header svg {
      /* fill: #21c25e; */
      height: 40px;
      transition: all .25s ease-in-out
    }

    #footer-wrapper body>header .links-desktop,
    #footer-wrapper body>#header .links-desktop {
      display: flex;
      align-items: center;
      justify-content: flex-end
    }

    #footer-wrapper body>header .links-desktop a.faq,
    #footer-wrapper body>header .links-desktop a.sobrenos,
    #footer-wrapper body>#header .links-desktop a.faq,
    #footer-wrapper body>#header .links-desktop a.sobrenos {
      color: #11c76f;
      font-size: 18px;
      margin-right: 48px;
      text-decoration: none;
      transition: all .25s ease-in-out
    }

    #footer-wrapper body>header .links-desktop a.faq:hover,
    #footer-wrapper body>header .links-desktop a.sobrenos:hover,
    #footer-wrapper body>#header .links-desktop a.faq:hover,
    #footer-wrapper body>#header .links-desktop a.sobrenos:hover {
      color: #0d9855
    }

    #footer-wrapper body>header .download-button,
    #footer-wrapper body>#header .download-button {
      background: #11c76f;
      border-radius: 40px;
      color: #fff;
      display: inline-block;
      height: 40px;
      line-height: 40px;
      padding: 0 36px;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      transition: .25s ease-in
    }

    #footer-wrapper body>header .download-button:hover,
    #footer-wrapper body>#header .download-button:hover {
      background: #0d9855
    }

    #footer-wrapper body>header .container,
    #footer-wrapper body>header .container>.row,
    #footer-wrapper body>#header .container,
    #footer-wrapper body>#header .container>.row {
      height: 100%
    }

    #footer-wrapper body>header.transparent,
    #footer-wrapper body>#header.transparent {
      background: transparent;
      z-index: 10
    }

    #footer-wrapper body>header.transparent svg,
    #footer-wrapper body>#header.transparent svg {
      fill: #ffffff
    }

    #footer-wrapper body>header.transparent .download-button,
    #footer-wrapper body>#header.transparent .download-button {
      border-color: #fff;
      color: #fff
    }

    @media only screen and (max-width: 768px) {

      #footer-wrapper body>header,
      #footer-wrapper body>#header {
        height: 60px
      }

      #footer-wrapper body>header svg,
      #footer-wrapper body>#header svg {
        height: 24px
      }

      #footer-wrapper body>header .mobile-dropdown,
      #footer-wrapper body>#header .mobile-dropdown {
        position: fixed;
        background: #000;
        height: 0;
        padding: 0 48px;
        overflow: hidden;
        top: 60px;
        width: 100%;
        transition: all .2s ease-in-out
      }

      #footer-wrapper body>header .mobile-dropdown a,
      #footer-wrapper body>#header .mobile-dropdown a {
        display: block;
        font-size: 24px;
        font-weight: bold;
        color: #8F929D;
        padding: 24px 0;
        text-decoration: none
      }

      #footer-wrapper body>header .mobile-dropdown.open,
      #footer-wrapper body>#header .mobile-dropdown.open {
        height: calc(100% - 60px - 60px);
        padding-top: 24px;
        padding-bottom: 24px
      }

      #footer-wrapper body>header .mobile-download,
      #footer-wrapper body>#header .mobile-download {
        border-radius: 0;
        font-size: 18px;
        height: 60PX;
        line-height: 60px;
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%
      }

      #footer-wrapper body>header .enable-menu,
      #footer-wrapper body>#header .enable-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 24px;
        top: 14px;
        width: 20px
      }

      #footer-wrapper body>header .enable-menu .bar,
      #footer-wrapper body>#header .enable-menu .bar {
        background: #11c76f;
        margin-top: 5px;
        height: 2px;
        width: 100%
      }
    }

    #footer-wrapper footer {
      background: #191919;
      padding: 60px 0
    }

    #footer-wrapper footer .social-logo {
      border-bottom: 1px solid #484848;
      padding-bottom: 28px;
      margin-bottom: 40px
    }

    #footer-wrapper footer .social-logo svg {
      height: 44px
    }

    #footer-wrapper footer .social-logo .social-media a {
      display: inline-block
    }

    #footer-wrapper footer .social-logo .social-media a img {
      margin: 0 6px;
      height: 40px;
      width: 40px
    }

    #footer-wrapper footer .links a,
    #footer-wrapper footer .links .text {
      color: #fff;
      display: block;
      font-size: 18px;
      margin-bottom: 12px;
      text-decoration: none;
      transition: all 1s ease-in-out
    }

    #footer-wrapper footer .links a:not(.text):not(.bottom-line):hover,
    #footer-wrapper footer .links .text:not(.text):not(.bottom-line):hover {
      text-decoration: underline
    }

    #footer-wrapper footer .links a>*,
    #footer-wrapper footer .links .text>* {
      display: inline-block
    }

    #footer-wrapper footer .links a small,
    #footer-wrapper footer .links .text small {
      font-size: 14px
    }

    #footer-wrapper footer .links a.flex-vertical-centered,
    #footer-wrapper footer .links .text.flex-vertical-centered {
      display: flex;
      align-items: center
    }

    #footer-wrapper footer .links .a-wrapper {
      display: block
    }

    #footer-wrapper footer .links .a-wrapper>* {
      display: inline-block
    }

    #footer-wrapper footer .links .rounded {
      background: #fff;
      border-radius: 50%;
      margin-left: 12px;
      position: relative;
      height: 8px;
      width: 8px
    }

    #footer-wrapper footer .links .rounded.available {
      animation: available ease-in-out 2s infinite
    }

    @keyframes available {
      0% {
        background-color: #11c76f
      }

      50% {
        background-color: #fff
      }

      100% {
        background-color: #11c76f
      }
    }

    #footer-wrapper footer .links .rounded.non-available {
      background-color: #FF4D73
    }

    #footer-wrapper footer .links .rounded.tooltip {
      background: #484848;
      color: #fff;
      line-height: 24px;
      text-align: center;
      height: 22px;
      width: 22px
    }

    #footer-wrapper footer .links .rounded.tooltip .tooltip-content {
      background: #484848;
      border-radius: 16px;
      box-shadow: rgba(0, 0, 0, 0.6) 0 3px 6px;
      color: #fff;
      font-size: 12px;
      line-height: 15px;
      padding: 12px 14px;
      position: absolute;
      text-align: left;
      opacity: 0;
      display: none;
      transition: opacity .225s ease-in-out;
      bottom: 36px;
      left: calc(50% - 100px + 8px);
      width: 200px
    }

    #footer-wrapper footer .links .rounded.tooltip .tooltip-content:after {
      content: '';
      position: absolute;
      background: #484848;
      transform: rotate(45deg);
      bottom: calc(12px / -2);
      left: calc(50% - 12px);
      height: 12px;
      width: 12px
    }

    #footer-wrapper footer .links .rounded.tooltip:hover>.tooltip-content,
    #footer-wrapper footer .links .rounded.tooltip:focus>.tooltip-content {
      opacity: 1;
      display: block
    }

    #footer-wrapper footer .links .bottom-line {
      border-bottom: 2px solid #292929;
      position: relative
    }

    #footer-wrapper footer .links .bottom-line:after {
      content: '';
      background-color: #484848;
      position: absolute;
      bottom: -2px;
      left: 0;
      height: 2px;
      width: 0;
      transition: width .5s ease-in-out
    }

    #footer-wrapper footer .links .bottom-line:hover:after {
      width: 100%
    }

    #footer-wrapper footer .copyright-store {
      color: #7e8790;
      margin-top: 24px
    }

    #footer-wrapper footer .copyright-store .stores-links a {
      display: inline-block
    }

    #footer-wrapper footer .copyright-store .stores-links a img {
      height: 44px;
      width: auto
    }

    #footer-wrapper footer .copyright-store .stores-links a img:first-child {
      margin-right: 12px
    }

    @media only screen and (max-width: 768px) {
      #footer-wrapper footer .social-logo {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 36px
      }

      #footer-wrapper footer .social-logo svg {
        height: 36px
      }

      #footer-wrapper footer .links {
        font-size: 16px
      }

      #footer-wrapper footer .links hr {
        border: 0;
        border-top: 1px solid #484848
      }

      #footer-wrapper footer .links .bottom-line {
        border-bottom: none
      }

      #footer-wrapper footer .links .bottom-line:after {
        content: none
      }

      #footer-wrapper footer .copyright-store {
        font-size: 13px;
        margin-top: 18px
      }

      #footer-wrapper footer .copyright-store .stores-links {
        margin-top: 24px
      }
    }

    #footer-wrapper strong {
      font-size: initial !important;
      line-height: initial !important;
      margin: 0 !important
    }

    @media only screen and (max-width: 768px) {
      #footer-wrapper {
        transform: scale(1.8133);
        max-width: 375px;
        margin: 358px 152px 0
      }
    }
  </style>
 <section id="downBody">
        
        <div class="wrapper">
    
    
          <div class="container">
            <h2 class="in">Baixe agora o MarcaFut para o seu smartphone</h2>
            <div class="side ppay">
              <img src="./static/images/download.png" alt="MarcaFut para você.">
              <div class="info in">
                <h4>Para você.</h4>
                <p>Baixe agora o MarcaFut para o seu celular e faça parte da evolução do dinheiro.</p>
                <div class="cta">
                  <a href="https://play.google.com/store/apps/details?id=com.marcafutappwebview">Android</a><a
                    href="https://apps.apple.com/br/app/marcafut/id1485909719">iPhone</a>
                </div>
              </div>
            </div>
    
            {% comment %} <div class="side biz">
              <img src="./static/images/download-biz.png" alt="MarcaFut para estabelecimentos">
              <div class="info in">
                <h4>Para Centro Esportivos.</h4>
                <p>Versão exclusiva para receber com MarcaFut em seu estabelecimento.</p>
                <div class="cta">
                  <a href="https://play.google.com/store/apps/details?id=com.marcafut.business">Android</a><a
                    href="https://itunes.apple.com/br/app/id1208271019">iPhone</a>
                </div>
              </div>
            </div> {% endcomment %}
            <div style="clear:both;"></div>
          </div>
    
        </div>
      </section>