<footer class="hidden-xs" id="footer">
    <div class="container">
        <div class="row between-xs middle-xs social-logo">
            <div class="col-xs-4 col-md">
                <div class="box">
                    <img src="./static/images/logo.png"/>
                </div>
            </div>

            <div class="col-xs-8 col-md end-xs">
                <div class="box social-media">
                    <a href="https://www.facebook.com/MarcaFutBrasil">
                        <img src="./static/images/ico-fb.png" alt="Facebook">
                    </a>
                    <a href="https://twitter.com/marcafut">
                        <img src="./static/images/ico-tt.png" alt="Twitter">
                    </a>
                    <a href="https://instagram.com/marcafut">
                        <img src="./static/images/ico-ig.png" alt="Instagram">
                    </a>
                </div>
            </div>
        </div>

        <div class="row links">
            <div class="col-xs-12 col-md-3">
                <a href="/site">Home</a>
                <a href="/site">Entrar</a>
                <a href="/site">Cadastrar</a>
                
                
                <!-- <a href="/site/sobre-nos">Sobre Nós</a> -->
            </div>

    
            <div class="col-xs-12 col-md-3">
                
                <a href="/site/central-de-ajuda#contato">Contato</a>
                <a href="/site/central-de-ajuda#contato">Download</a>
            </div>
            
                    </div>

        <div class="row between-xs middle-xs copyright-store">
            <div class="col-xs-12 col-md">
                <div class="box">
                    Copyright © 2019 MarcaFut. Todos os direitos reservados.<br />
                    <!-- CNPJ nº 22.896.431/0001-10<br />
                    Av Manuel Bandeira, 291 - SP<br />
                    Av Jerônimo Monteiro, 1000 - ES -->
                </div>
            </div>

            <div class="col-xs-12 col-md end-md">
                <div class="box stores-links">
                    <a href="https://play.google.com/store/apps/developer?id=MarcaFut">
                        <img src="./static/images/badge-google-play.png" alt="Play Store">
                    </a>

                    <a href="https://itunes.apple.com/br/developer/marcafut-apps/id949456209">
                        <img src="./static/images/badge-app-store.png" alt="App Store">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>