<div class="container">
    <div class="row center-xs middle-xs start-md">
        <div class="col-xs-12 col-md-6">
            <a href="/">
                <img src="./static/images/marcafut/logo.png" />
            </a>
        </div>

        <div class="col-md-6 end-md hidden-xs links-desktop">
                
            <a class="faq" href="download.html">Download</a>
            <a class="faq" href="contato.html">Contato</a>
            <a href="cadastro.html" class="faq">Cadastrar</a>
            <a href="login.html" class="download-button">
                Entrar
            </a>
        </div>
    </div>
</div>

<a href="#" class="enable-menu hidden-sm hidden-md hidden-lg " id="enable-menu">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
</a>

<div class="mobile-dropdown hidden-sm hidden-md hidden-lg" id="mobile-dropdown">
        <a href="download.html">Download</a>
    <a href="contato.html">Contato</a>
    <a href="cadastro.html">Cadastrar</a>
    <a href="login.html">Entrar</a>
</div>

<a class="button hidden-sm hidden-md hidden-lg mobile-download download-button"
    href="download.html">
    Baixe e aproveite
</a>

