<div class="container">
    <div class="row center-xs middle-xs start-md">
        <div class="col-xs-12 col-md-6">
            <a href="/">
                <img src="./static/images/logo.png" />
            </a>
        </div>

        <div class="col-md-6 end-md hidden-xs links-desktop">
            <a class="sobrenos" href="/site/sobre-nos">Contato</a>
            <a href="/site/faq" class="faq">Cadastrar</a>
            <a href="https://marcafut.onelink.me/R25q/df2d0c2e" class="download-button">
                Entrar
            </a>
        </div>
    </div>
</div>

<a href="#" class="enable-menu hidden-sm hidden-md hidden-lg " id="enable-menu">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
</a>

<div class="mobile-dropdown hidden-sm hidden-md hidden-lg" id="mobile-dropdown">
    <a href="/">Contato</a>
    <a href="/site/sobre-nos">Cadastrar</a>
    <a href="/site/faq">Entrar</a>
</div>

<a class="button hidden-sm hidden-md hidden-lg mobile-download download-button"
    href="https://marcafut.onelink.me/R25q/df2d0c2e">
    Baixe e aproveite
</a>

