<section id="hero">
    <div class="video-wrapper">
        <video autoplay loop muted playsinline poster="./static/images/new/home/novas/mock-video.jpg">
            <source src="./static/videos/home-bg.mp4" type="video/mp4">
            <img src="./static/images/new/home/novas/mock-video.jpg"
                 alt="Pagar e receber ficou mais fácil do que enviar mensagem">
        </video>
    </div>


    <div class="container">
        <div class="row center-xs middle-xs">
            <div class="col-xs-12">
                <h1 class="text">
                     Marcar seu esporte preferido com a galera ficou mais fácil<br/> que pedir comida no ifood.
                </h1>

                <a class="button hidden-xs download-button" href="#">BAIXE E APROVEITE</a>
            </div>
        </div>
    </div>
</section>